# This is Git's per-user configuration file.
[user]
	name = YOUR_NAME
	email = YOUR_EMAIL
[pull]
	ff = only
[url "YOUR_GITLAB_USERNAME:YOUR_GITLAB_TOKEN@gitlab.com"]
	insteadOf = https://gitlab.com
[core]
	editor = code --wait
[fetch]
	prune = true